@model DTO.LinkDTO[]
@{
    ViewBag.Title = "修改链接";
}

<form id="linkEdit">
    <div>
        <img class="bigImg" src='~/images/大纲.jpg' />
      
        @foreach (var link in Model)
        {
        <div>
            <input type="hidden" value="@link.Id" name="ids" /><br />
            <label>@link.Name</label>
            <input  type="text" value="@link.Link" name="links"/>
        </div>
        }
        <input type="button" value="修改" id="btnSave"/>
    </div>
</form>
@section FooterScript
{
    <script>
        (function () {
            changeFont();
            $(window).resize(function () {
                changeFont();
            });
        })();
        function changeFont() {
            var wid = $(window).width();
            var fontSize = wid * (100 / 640);
            $("html").css({
                "fontSize": fontSize,
            });
        }
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            font-size: 625%;
            height: 100%;
            height: 100%;
            overflow-y: scroll;
        }

        body {
            min-width: 320px;
            height: 100%;
            margin: 0 auto;
            position: relative;
            font-family: "微软雅黑", Helvetica, Arial, sans-serif;
            font-size: .16rem;
        }

        a {
            text-decoration: none;
            width: 33.33%;
            display: block;
            float: left;
        }

        img {
            border: none;
            vertical-align: bottom;
            width: 100%;
        }

        ul li {
            list-style-type: none;
        }

        div {
            width: 90%;
            margin: 0 auto;
        }

        label {
            font-size: .22rem;
            line-height: .54rem;
            display: block;
        }

        input[type=text] {
            border: .01rem solid #ededed;
            line-height: .52rem;
            padding: 0 2%;
            width: 96%;
        }

        input[type=button] {
            border: .01rem solid #ff0000;
            color: #ff0000;
            background: none;
            font-size: .22rem;
            height: .52rem;
            width: 90%;
            margin: .2rem auto;
            display: block;
        }
    </style>
    
    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function () {
                var formData = $("#linkEdit").serializeArray();
                $.ajax({
                    url: "/Main/Edit",
                    type: "post",
                    //data: {id:$("#id").val(), name: $("#name").val(), description: $("#description").val() },
                    data: formData,
                    dataType: "json",
                    success: function(res) {
                        if (res.status === "ok") {
                            alert("修改成功!");
                            window.location.reload();
                        } else {
                            alert("error");
                        }
                    }
                });
            });
        });
    </script>
}



